<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let detail of workoutDetails" class="col-md-3">
          <div class="product-box">
              
              <!-- Still need to figure out how to display lift name without creating dups-->
            Lift Name: {{ detail.liftName }} <br />
            Set: {{ detail.setNumber }} Reps: {{ detail.repetitions }} Weight:
            {{ detail.weight }}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>